video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
.background{

  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  z-index: -1;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
-webkit-filter: blur(10px);
}

#login{
  position: relative;
  top: 20px;
}
.card .card-action{

z-index: inherit;
}

.dropdown-content {
  width: inherit !important;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 .input-field input[type=text]:focus + label {
    color: #e91e63;
  }
  .input-field .prefix.active {
       color: #e91e63;
     }
     .input-field input[type=text]:focus {
         border-bottom: 1px solid #e91e63;
         box-shadow: 0 1px 0 0 #e91e63;
       }

.card-content-grupos{
  height: 100px;
}
.modal .modal-footer .btn{
  float: none;
}

.alumnoAgregado{
  margin-top:5px;
}
/**
waves
*/
