<header>
  <nav class="white ">
    <ul id="dropdown-configuracion" class="dropdown-content">
      <li><a class="blue-text" href="#!">Perfil</a></li>
      <li><a class="blue-text" href="#!">Configuración</a></li>
      <li class="divider"></li>
      <li><a class="blue-text" href="#!">Cerrar sesión</a></li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li><a class="blue-text" href="#">3<i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
      <li><a class="dropdown-button blue-text"  data-beloworigin="false" href='javascript:void(0);' dropdown data-activates="dropdown-configuracion"> <i class="fa fa-ellipsis-v fa-fw button-options" ></i></a></li>

    </ul>

    <a href="#" class="brand-logo center">
      <img class="img-logo" src="img/logopagina.png" alt="" />
    </a>


    <ul id="slide-out" class="side-nav blue">
      <li><a class="white-text"href="#principal"><i class="fa fa-home" style="padding-right:20px" aria-hidden="true"></i>Principal</a></li>
      <li><a class="white-text"href="#semestres">Semestres</a></li>
      <li><a class="white-text"href="#actividades">Actividades</a></li>
      <li><a class="white-text"href="#carreras">Carreras</a></li>
      <li><a class="white-text"href="#grupos">Grupos</a></li>
      <li><a class="white-text"href="#maestros">Maestros</a></li>
      <li><a class="white-text"href="#estudiantes">Alumnos</a></li>
      <li><a class="white-text"href="#eventos">Eventos</a></li>
      <li><a class="white-text"href="#viernes">Viernes Cultural</a></li>
    </ul>

    <a href="#" data-activates="slide-out" data-menuwidth="500" data-closeonclick="true" class="button-collapse show-on-large blue-text "><i class="fa   fa-bars fa-fw " aria-hidden="true"></i></a>
  </nav>


</header>
<main>

    <div class="container">
      <div class="row">
        <div class="col l5 m5 s12">

          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class="input-field col s12">
                  <i class="fa fa-search prefix" aria-hidden="true"></i>
                  <input id="icon_prefix" ng-model="buscarActividad" type="text" class="validate ">
                  <label for="icon_prefix">Buscar actividad</label>
                </div>
              </div>
            </div>

            <div class="collection" >
              <div  ng-repeat="a in actividades  | filter:buscarActividad track by $index" class="">
                <a ng-click="enviarFormulario(a)"  class="collection-item  blue-text">{{a.name}}<span  class="badge">{{a.groups.length}}</span></a>

              </div>
           </div>

          </div>
        </div>


        <div class="col l7 m7 s12">
          <div class="card" ng-form="formularioActividad">
            <div class="card-content">

              <div input-field>
                  <input type="text" name="nombre" length="150" class="validate" required ng-model="actividad.name">
                  <label  for="nombre" data-error="Debe ingresar un nombre" >Nombre de la actividad</label>
              </div>

              <div input-field>
                <textarea id="textarea1" ng-model="actividad.description" rows="2" class="materialize-textarea"></textarea>
                <label for="textarea1">Descripcion</label>
              </div>
            </div>
            <div class="card-action ">
              <button ng-hide="actividad.id" ng-disabled="formularioActividad.$invalid" ng-click="crearActividad(actividad)"  class="btn waves-effect waves-light light-blue accent-2" type="submit" name="action">Crear
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>

              <button ng-disabled="formularioActividad.$invalid" ng-click="actualizarActividad(actividad)" ng-show="actividad.id" class="btn waves-effect waves-light light-blue accent-2" type="submit" name="action">Actualizar
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>

              <button ng-show="actividad.id" href="#modalEliminarCarrera" ng-click="mostrarModalEliminar()" class="btn waves-effect waves-light red accent-3 semestre-btn-modal" type="submit" name="action">Eliminar
                <i class="fa fa-trash rigth"  aria-hidden="true"></i>
              </button>

              <button ng-show="actividad.id"  ng-click="actividad = {}" class="btn btn-small waves-effect waves-light purple accent-3" type="submit" name="action">
                <i class="fa fa-close rigth" aria-hidden="true"></i>
              </button>
            </div>

            <div class="">
              <div id="modalEliminarActividad" class="modal modal-fixed-footer pink">
                <div class="modal-content white-text">
                  <h4>¿Desea eliminar por completo la actividad?</h4>
                  <p>Al eliminar la actividad, los grupos asociados perderan la referencia de la actividad.</p>
                </div>
                <div class="modal-footer center-align">
                  <button   class="btn btn-small waves-effect waves-light purple accent-3 modal-close" type="submit" name="action">
                    <i class="fa fa-close rigth" aria-hidden="true"></i>
                  </button>
                  <button   class="btn btn-small waves-effect waves-light light-blue accent-2" ng-click="eliminarActividad()" type="submit" name="action">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>



      </div>
    </div>





</main>


<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container blue-text">
      © 2016 ULSACOMMUNITY TEAM
    </div>
  </div>
</footer>
