<header>
  <nav class="white ">
    <ul id="dropdown-configuracion" class="dropdown-content">
      <li><a class="blue-text" href="#!">Perfil</a></li>
      <li><a class="blue-text" href="#!">Configuración</a></li>
      <li class="divider"></li>
      <li><a class="blue-text" href="#!">Cerrar sesión</a></li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li><a class="blue-text" href="#">3<i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
      <li><a class="dropdown-button blue-text"  data-beloworigin="false" href='javascript:void(0);' dropdown data-activates="dropdown-configuracion"> <i class="fa fa-ellipsis-v fa-fw button-options" ></i></a></li>

    </ul>

    <a href="#" class="brand-logo center">
      <img class="img-logo" src="img/logopagina.png" alt="" />

    </a>


    <ul id="slide-out" class="side-nav blue">
      <li><a class="white-text"href="#principal"><i class="fa fa-home" style="padding-right:20px" aria-hidden="true"></i>Principal</a></li>
      <li><a class="white-text"href="#semestres">Semestres</a></li>
      <li><a class="white-text"href="#actividades">Actividades</a></li>
      <li><a class="white-text"href="#carreras">Carreras</a></li>
      <li><a class="white-text"href="#grupos">Grupos</a></li>
      <li><a class="white-text"href="#maestros">Maestros</a></li>
      <li><a class="white-text"href="#estudiantes">Alumnos</a></li>
      <li><a class="white-text"href="#eventos">Eventos</a></li>
      <li><a class="white-text"href="#viernes">Viernes Cultural</a></li>
    </ul>

    <a href="#" data-activates="slide-out" data-menuwidth="500" data-closeonclick="true" class="button-collapse show-on-large blue-text "><i class="fa   fa-bars fa-fw " aria-hidden="true"></i></a>
  </nav>

</header>
<main>

  <div class="parallax-container">

    <div  class="parallax"><img ng-src="{{rutaImagen}}"></div>

  </div>


  <div class="">
    <div class="row">
      <div class="col l12 m12 s12 center-align blue-text">
        <h4 >{{titulo}}</h4>
      </div>
    </div>
    <div class="row">



      <div class="col s12 m8 l8">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <i class="fa fa-search prefix" aria-hidden="true"></i>
                <input id="icon_prefix" type="text" ng-model="query1" ng-keydown="findAlumnoGrupo(query1)" class="validate">
                <label for="icon_prefix">Nombre o matricula</label>
              </div>

            </div>
          </form>
        </div>
        <div class="row">
          <div class="col s12 l12 m12">
            <ul class="collection" >
              <li class="collection-item avatar" ng-repeat="a in grupo.students">
                <div class="row">
                  <div class="col l2 m2">
                    <div class="" ng-if="a.gender == 'hombre'">
                      <ng-letter-avatar fontFamily="Roboto" dynamic=true  class="round" avatarcustombgcolor="#90caf9" data="{{a.name}}"></ng-letter-avatar>

                    </div>
                    <div class="" ng-if="a.gender == 'mujer'">
                      <ng-letter-avatar fontFamily="Roboto" dynamic=true  class="round" avatarcustombgcolor="#f48fb1" data="{{a.name}}"></ng-letter-avatar>

                    </div>
                  </div>
                  <div class="col l8 m8">
                    <span class="title">{{a.name}} {{a.lastname}}</span>
                    <p>{{a.registration_number}} <br>
                      {{a.gender}}
                    </p>
                  </div>
                  <div class="col l2 m2" dropdown data-hover="false" data-activates='dropdown-{{a.id}}'>
                    <i class="fa fa-ellipsis-v fa-2x  right button-options" ></i></span>

                  </div>
                </div>

                <ul id='dropdown-{{a.id}}' class='dropdown-content'>

                  <li><a class="blue-text" ng-click="agregarAsistenciaModal(a)">Agregar Asistencia</a></li>
                  <li><a class="blue-text" ng-click="obtenerAsistencias(a)">Asistencias</a></li>
                  <li class="divider"></li>
                  <li><a class="blue-text" ng-click="removerAlumno(a)">Remover</a></li>
                </ul>
              </li>

            </ul>
          </div>



        </div>



      </div>
      <div class="col s12 m4 l4" ng-show="asistenciasAlumno">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card ">
              <div class="card-image">
                <div class="" ng-if="asistenciasAlumno.gender == 'hombre'">
                  <ng-letter-avatar fontFamily="Roboto" dynamic=true  class="circle" avatarcustombgcolor="#90caf9" data="{{asistenciasAlumno.name}}"></ng-letter-avatar>

                </div>
                <div class="" ng-if="asistenciasAlumno.gender == 'mujer'">
                  <ng-letter-avatar fontFamily="Roboto" dynamic=true  class="circle" avatarcustombgcolor="#f48fb1" data="{{asistenciasAlumno.name}}"></ng-letter-avatar>

                </div>
                <span class="card-title">
                  {{asistenciasAlumno.name.split(' ').length > 1 ? asistenciasAlumno.name.split(' ')[0]: asistenciasAlumno.name | uppercase}}
                  {{asistenciasAlumno.lastname.split(' ').length > 1 ? asistenciasAlumno.lastname.split(' ')[0]: asistenciasAlumno.lastname | uppercase}}

                </span>
              </div>
              <div class="card-action">
                <div class="row center-align ">
                  <div class="col s4 m4 l4 ">
                    <div class="texto valign">
                      <h6>Asistencias</h6>
                      <p>
                        {{countAssistances.true ? countAssistances.true.length : 0}}
                      </p>
                    </div>
                  </div>
                  <div class="col s4 m4 l4">
                    <h6>Inasistencias</h6>
                    <p>
                      {{countAssistances.false ? countAssistances.false.length : 0}}
                    </p>
                  </div>
                  <div class="col s4 m4 l4">
                    <h6>Calificación</h6>
                    <p>
                      {{countAssistances.calificacion.qualification}}
                    </p>
                  </div>
                </div>



              </div>
              <div class="card-content">
                <div class="row">
                  <div class="col l12">
                    <ul class="collection with-header">
                      <li class="collection-header"><h5>Asistencias</h5></li>
                      <li class="collection-item " ng-class="{pink:a.type2 =='viernes cultural', 'lighten-5':a.type2 =='viernes cultural'}" ng-repeat="a in asistenciasAlumno.assistances  track by a.id"><div><strong>{{a.type2 =='viernes cultural' ? 'V: ' :'A: '}}</strong> {{a.date | date : 'dd-MMMM-yyyy'}}<p class="secondary-content"><input  type="checkbox" id="checkbox-{{a.id}}" name="checkbox-{{a.id}}" ng-change="cambiarAsistencia(a)" ng-model="a.type" id="test5"/>
                        <label for="checkbox-{{a.id}}">{{a.type ? 'Asistencia' : 'Inasistencia'}}</label></p></div></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>










    </div>


    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large blue">
        <i class="large fa fa-plus"></i>
      </a>
      <ul>
        <li>
          <a ng-click="abrirModalMaestro()" tooltips tooltip-template="Asignar un maestro" tooltip-side="left" tooltip-size="small" class="btn-floating cyan"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
        </li>
        <li>
          <a ng-click="abrirModalImagen()" tooltips tooltip-template="Agregar imagen de portada" tooltip-side="left" tooltip-size="small" class="btn-floating blue"><i class="fa fa-image" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a ng-click="abrirModalAlumnos()" tooltips tooltip-template="Agregar un alumno al grupo" tooltip-side="left" tooltip-size="small" class="btn-floating indigo"><i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a ng-click="abrirModalAsistencias()" tooltips tooltip-template="Agregar asistencias" tooltip-side="left" tooltip-size="small" class="btn-floating purple"><i class="fa fa-calendar" aria-hidden="true"></i>
          </a>
        </li>


      </ul>
    </div>
  </main>

  <div id="modal-eliminar" class="modal modal-fixed-footer ">
    <div class="modal-content">
      <h4>Remover alumno del grupo</h4>
      <div class="divider">

      </div>
      <p>Al remover el alumno del grupo se guardaran sus asistencias.</p>
    </div>
    <div class="modal-footer center-align">


      <button   class="btn btn-small waves-effect waves-light purple accent-3 modal-close" type="submit" name="action">
        Cancelar
        <i class="fa fa-close rigth" aria-hidden="true"></i>
      </button>

      <button   class="btn btn-small waves-effect waves-light light-blue accent-2" ng-click="eliminarAlumno()" type="submit" name="action">
        Remover
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>

    </div>
  </div>

  <div id="modal-maestro" class="modal modal-fixed-footer ">
    <div class="modal-content">
      <h5>Asignar maestro</h5>
      <div class="divider">
      </div>

      <div class="row ">
        <div class="col l10 m10 s10 center-align">
          <div class="input-field col l12 m12 s12">
            <select  class="browser-default"  ng-model="grupo.teacher.id"  ng-options="maestro.id as maestro.name for maestro in maestros" >
              <option value="" disabled selected>Selecciona una maestro</option>

            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer center-align">


      <button   class="btn btn-small waves-effect waves-light purple accent-3 modal-close" type="submit" name="action">
        Cancelar
        <i class="fa fa-close rigth" aria-hidden="true"></i>
      </button>

      <button   class="btn btn-small waves-effect waves-light light-blue accent-2" ng-click="asignarMaestro(grupo)" type="submit" name="action">
        Asignar
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>

    </div>
  </div>

  <div id="modal-alumnos" class="modal modal-fixed-footer ">
    <div class="modal-content">
      <div class="row center-align">
        <div class="col l10">
          <div class="input-field col s12 m12 l12">
            <i class="fa fa-search prefix" aria-hidden="true"></i>
            <input id="icon_prefix" type="text" ng-keyup="searchAllAlumnos(query2)" ng-model="query2" class="validate">
            <label for="icon_prefix">Nombre o matricula</label>
          </div>
        </div>

      </div>
      <div class="divider" ng-show="alumnosAgregados.length > 0"></div>

      <div class="row">
        <div class="col l3 alumnoAgregado" ng-repeat="a in alumnosAgregados track by $index">
          <div class="chip pink white-text">
            {{a.name.split(' ').length >1 ? a.name.split(' ')[0] :a.name}}
            <i class="fa fa-times" ng-click="quitarAlumno(a)" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="divider" ng-show="alumnosAll.length > 0"></div>
      <div class="row" >
        <div class="col l12">
          <ul class="collection" ng-show="alumnosAll.length > 0">
            <li class="collection-item " ng-repeat="a in alumnosAll" ng-click="agregarAlumnos(a)">
              <div class="row" >
                <div class="col s2 m2 l2">
                  <ng-letter-avatar fontFamily="Roboto" class="circle" alphabetcolors="a.gender == 'hombre' ?alphabetcolorsHombre : alphabetcolorsMujer " shape="round"  data="{{a.name}}"></ng-letter-avatar>

                </div>
                <div class="col s8 m8 l8">
                  <span class="title">{{a.name | uppercase}} {{a.lastname | uppercase}} </span>
                  <h6>{{a.gender | uppercase}}</h6>
                  <h6>

                    {{a.registration_number}}
                  </h6>
                </div>
              </div>

            </li>

          </ul>
        </div>
      </div>

    </div>
    <div class="modal-footer center-align">

      <button   class="btn btn-small waves-effect waves-light purple accent-3 modal-close" type="submit" name="action">Cancelar
        <i class="fa fa-close rigth" aria-hidden="true"></i>
      </button>

      <button   class="btn btn-small waves-effect waves-light light-blue accent-2" ng-click="agregarAlumnosGrupo()" type="submit" name="action">Agregar al grupo
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div id="modal-imagen" class="modal modal-fixed-footer ">
    <div class="modal-content">
      <div class="row">
        <div class="col l12">
          <div class="section">
            <h5>Agregar imagen</h5>
          </div>
          <div class="divider">

          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col l12">
          <div class="file-field input-field">
            <div class="btn" ngf-select ng-model="imagen" name="imagen" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-width="500"
            ngf-resize="{width: 500, height: 500}">
            <span>Archivo</span>

          </div>

        </div>
      </div>
    </div>
    <div class="row align-center">
      <img  style="margin-left:10px" ng-if="imagen" ngf-thumbnail="imagen || '/thumb.jpg'">
    </div>
  </div>
  <div class="modal-footer center-align">

    <button   class="btn btn-small waves-effect waves-light purple accent-3 modal-close" type="submit" name="action">Cancelar
      <i class="fa fa-close rigth" aria-hidden="true"></i>
    </button>

    <button ng-disabled="imagen == null"  class="btn btn-small waves-effect waves-light light-blue accent-2" ng-click="agregarImagen(imagen)" type="submit" name="action">Agregar imagen
      <i class="fa fa-check" aria-hidden="true"></i>
    </button>
  </div>
</div>


<div id="modal-asistencias" class="modal modal-fixed-footer ">
  <div class="modal-content">
    <div class="row ">
      <div class="col l12">
        <h5>Asistencias</h5>
        <div class="divider" ></div>

        <div class="row ">
          <div class="col l6 offset-l3">
            <div input-field>
              <input input-date
              type="text"
              name="created"
              id="inputCreated"
              ng-model="asistencias.fecha"
              container="body"
              format="yyyy-mm-dd"
              months-full="{{ month }}"
              months-short="{{ monthShort }}"
              weekdays-full="{{ weekdaysFull }}"
              weekdays-short="{{ weekdaysShort }}"
              weekdays-letter="{{ weekdaysLetter }}"
              disable="disable"
              min="{{ minDate }}"
              max="{{ maxDate }}"
              today="today"
              clear="clear"
              close="close"
              select-years="15"
              on-start="onStart()"
              on-render="onRender()"
              on-open="onOpen()"
              on-close="onClose()"
              on-set="onSet()"
              on-stop="onStop()" />
              <label for="inputCreated">Fecha</label>
            </div>

            <div class="input-field" ng-show="alumno">
              <select  ng-model="asistencias.type2" required class="browser-default"  >
                <option value="" disabled selected>Tipo de asistencia</option>
                <option value="asistencia">Asistencia</option>
                <option value="viernes cultural">Viernes cultural</option>
              </select>
            </div>
            <div class="input-field">
              <input type="checkbox" id="test5" ng-model="asistencias.type"/>
              <label for="test5">Asistencia</label>
            </div>


          </div>
        </div>

      </div>

    </div>



    <div class="row" >
      <div class="col l12">

      </div>
    </div>

  </div>
  <div class="modal-footer center-align">

    <button   class="btn btn-small waves-effect waves-light purple accent-3 modal-close" type="submit" name="action">Cancelar
      <i class="fa fa-close rigth" aria-hidden="true"></i>
    </button>

    <button ng-hide="alumno"  class="btn btn-small waves-effect waves-light light-blue accent-2" ng-click="agregarAsistencias(asistencia)" type="submit" name="action">Agregar asistencias
      <i class="fa fa-check" aria-hidden="true"></i>
    </button>

    <button ng-show="alumno" class="btn btn-small waves-effect waves-light light-blue accent-2" ng-click="agregarAsistencia(asistencia)" type="submit" name="action">Agregar asistencia
      <i class="fa fa-check" aria-hidden="true"></i>
    </button>

    <button ng-hide="alumno" class="btn btn-small waves-effect waves-light pink" ng-click="eliminarAsistencias()" type="submit" name="action">Eliminar asistencias
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>

</div>
</div>


<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container blue-text">
      © 2016 ULSACOMMUNITY TEAM
    </div>
  </div>
</footer>
