<header>
  <nav class="white pink-text ">
    <ul class="right hide-on-med-and-down">
      <li><a class="modal-trigger pink-text" ng-click="cerrarSesion()" >Cerrar sesión</a></li>
    </ul>

      <a href="#" class="brand-logo center grey-text text-darken-3">ULSACOMMUNITY</a>


    <ul id="slide-out" class="side-nav ">
      <li>
        <div class="card">
          <div class="card-image">
            <div class="row">
              <div class="col l6 offset-l3">

                    <ng-letter-avatar fontFamily="Roboto" class="responsive-img" shape="round" avatarcustombgcolor="#424242"  data="Daniel"></ng-letter-avatar>

              </div>

            </div>
          </div>
          <div class="card-content">
            <a class='dropdown-button btn btn-small grey  darken-3' href='#' data-activates='dropdown1'>Administrador</a>

          </div>
        </div>

      </li>
      <li><a class="grey-text text-darken-3"href="#principal">Principal</a></li>
      <li><a class="grey-text text-darken-3"href="#viernes">Viernes Cultural</a></li>
      <li><a class="grey-text text-darken-3"href="#grupos">Grupos</a></li>
      <li><a class="grey-text text-darken-3"href="#semestres">Semestres</a></li>
      <li><a class="grey-text text-darken-3"href="#maestros">Maestros</a></li>
    </ul>

    <!-- <a href="#" data-activates="slide-out" data-menuwidth="500" data-closeonclick="true" class="button-collapse show-on-large grey-text text-lighten-2"> -->
    <!-- <a href="#" data-activates="slide-out" data-menuwidth="500" data-closeonclick="true" class="button-collapse grey-text show-on-large">
    <span   data-activates="slide-out" data-menuwidth="500" data-closeonclick="true"  class="fa-stack fa-lg show-on-large">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
    </span>
  </a> -->




    <a href="#" data-activates="slide-out" data-menuwidth="500" data-closeonclick="true" class="button-collapse show-on-large grey-text text-lighten-2"><i class="fa   fa-bars fa-fw " aria-hidden="true"></i></a>
  </nav>


</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m4 l3">
        <div class="card center-align">
          <div class="card-content ">
              <h1 class="grey-text">{{alumnos.length}}</h1>
              </div>
          <div class="card-action purple white-text">
            <h6>ALUMNOS</h6>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="card center-align">
          <div class="card-content ">
              <h1 class="grey-text">{{grupos.length}}</h1>
              </div>
          <div class="card-action blue white-text">
            <h6>GRUPOS</h6>

          </div>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="card center-align">
          <div class="card-content ">
              <h1 class="grey-text">{{maestros.length}}</h1>
              </div>
          <div class="card-action teal white-text">
            <h6>MAESTROS</h6>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="card center-align">
          <div class="card-content ">
              <h1 class="grey-text">{{viernes.length}}</h1>
              </div>
          <div class="card-action lime white-text">
            <h6>VIERNES CULTURAL</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-l12">
        <div class="divider"></div>
        <div class="section">
          <h5 class="grey-text">Estadisticas de Viernes Cultural</h5>
        </div>
        <canvas id="bar" class="chart chart-bar"
          chart-data="total" chart-labels="fechas" chart-series="series">
        </canvas
      </div>
    </div>
  </div>
</main>

<footer class="page-footer pink">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <!-- <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->

      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 ULSACOMMUNITY TEAM
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>
