<header>
  <nav class="white ">
    <ul id="dropdown-configuracion" class="dropdown-content">
      <li><a class="blue-text" href="#!">Perfil</a></li>
      <li><a class="blue-text" href="#!">Configuración</a></li>
      <li class="divider"></li>
      <li><a class="blue-text" href="#!">Cerrar sesión</a></li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li><a class="blue-text" href="#">3<i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
      <li><a class="dropdown-button blue-text"  data-beloworigin="false" href='javascript:void(0);' dropdown data-activates="dropdown-configuracion"> <i class="fa fa-ellipsis-v fa-fw button-options" ></i></a></li>

    </ul>

    <a href="#" class="brand-logo center">
      <img class="img-logo" src="img/logopagina.png" alt="" />
    </a>


    <ul id="slide-out" class="side-nav blue">
      <li><a class="white-text"href="#principal"><i class="fa fa-home" style="padding-right:20px" aria-hidden="true"></i>Principal</a></li>
      <li><a class="white-text"href="#semestres">Semestres</a></li>
      <li><a class="white-text"href="#actividades">Actividades</a></li>
      <li><a class="white-text"href="#carreras">Carreras</a></li>
      <li><a class="white-text"href="#grupos">Grupos</a></li>
      <li><a class="white-text"href="#maestros">Maestros</a></li>
      <li><a class="white-text"href="#estudiantes">Alumnos</a></li>
      <li><a class="white-text"href="#eventos">Eventos</a></li>
      <li><a class="white-text"href="#viernes">Viernes Cultural</a></li>
    </ul>

    <a href="#" data-activates="slide-out" data-menuwidth="500" data-closeonclick="true" class="button-collapse show-on-large blue-text "><i class="fa   fa-bars fa-fw " aria-hidden="true"></i></a>
  </nav>



</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m4 l3">
        <div class="card center-align">
          <div class="card-content ">
              <h1 class="grey-text">{{alumnos.length}}</h1>
              </div>
          <div class="card-action purple white-text" ui-sref="estudiantes" style="cursor:pointer">
            <h6>ALUMNOS</h6>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="card center-align">
          <div class="card-content ">
              <h1 class="grey-text">{{grupos.length}}</h1>
              </div>
          <div class="card-action blue white-text" ui-sref="alumnos" style="cursor:pointer">
            <h6>GRUPOS</h6>

          </div>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="card center-align">
          <div class="card-content ">
              <h1 class="grey-text">{{maestros.length}}</h1>
              </div>
          <div class="card-action teal white-text" ui-sref="maestros" style="cursor:pointer">
            <h6>MAESTROS</h6>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="card center-align">
          <div class="card-content ">
              <h1 class="grey-text">{{viernes.length}}</h1>
              </div>
          <div class="card-action lime white-text" ui-sref="viernes" style="cursor:pointer">
            <h6>VIERNES CULTURAL</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-l12">
        <div class="divider"></div>
        <div class="section">
          <h5 class="grey-text">Estadisticas de Viernes Cultural</h5>
        </div>
        <canvas id="bar" class="chart chart-bar"
          chart-data="total" chart-labels="fechas" chart-series="series">
        </canvas
      </div>
    </div>
  </div>
</main>

<footer class="page-footer pink">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <!-- <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->

      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 ULSACOMMUNITY TEAM
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>
